<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Restaurant catalogue for you" />
    <meta name="theme-color" content="#DB0000" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <script
      src="https://use.fontawesome.com/b070c8f1df.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <!-- <a class="skip-to-content-link" id="skip-link" href="#mainContent">
      Skip to content
    </a> -->
    <a class="skip-to-content-link" id="skip-link" href=""> Skip to content </a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Kumis Cook</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/fav">Favorite</a></li>
          <li>
            <a href="https://github.com/adrifsl" target="_blank">About Me</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
      <center>
        <p>Created with love adrifsl</p>
      </center>
    </footer>
  </body>

  <script>
    document.querySelector("#skip-link").addEventListener("click", function () {
      var oh = location.hash;
      var now = (location.hash = oh + "#mainContent");
      document.querySelector("#skip-link").setAttribute("href", now);
    });
    // void 0;
  </script>
</html>
